body {
    background-color: #f8f9fa;
}

.card {
    margin-top: 20px;
}

.problem-list {
    margin-top: 20px;
}

.problem-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.problem-item:hover {
    background-color: #f1f1f1;
}

.problem-details {
    display: none;
    padding: 5px;
    font-size: 0.9rem;
    color: #495057;
}

.visible {
    display: block !important;
}
